.ligh_gray-bg {
    background-color: #EEEEEE;
}

.medium_gray-bg {
    background-color: #CCCCCC;
}

.dark_gray-font {
    color: #666666;
}

.orange-bg {
    background-color: #FF9933;
}

.orange-bg:hover {
    background-color: #FF6600;
}

.orange-font {
    color: #FF9933;
}

.orange-border {
    border: solid 1px #FF9933;
    border-radius: 4px;
}

.orange-border:hover {
    background-color: #FF9933;
    border: solid 1px #FF9933;
    border-radius: 4px;
    color: white;
    font-weigh: bold;
}

.button-width-normal {
    width: 80px;
}

.button-width-large {
    width: 90px;
}

a:hover {
    text-decoration: none;
}