{% extends "main.html" %}

{% block title %}Add Item{% endblock %}

{% block header %}
  <h1 class="display-5 text-center text-white font-weight-bold p-0 m-0">Add Item</h1>
{% endblock %}

{% block content %}
  <hr>

  <!-- Editing form -->
  <div class="row mt-3 align-items-center">
    <div class="col-auto">
      <form action="{{url_for('add_item', category=category)}}" method='POST'>
        <div class="row mb-3">
          <div class="col">
            <label for="title" class="dark_gray-font font-weight-bold">Title</label>
            <input type="text" class="form-control" name="name" id="title" required>
          </div>
        </div>
        <div class="row my-3">
          <div class="col">
            <label for="description" class="dark_gray-font font-weight-bold">Description</label>
            <textarea class="form-control" name="description" id="description" rows="4" cols="50" required></textarea>
          </div>
        </div>
        <div class="row my-3">
          <div class="col-auto">
            <label for="category" class="dark_gray-font font-weight-bold">Category</label>
            <select class="form-control" name="category" id="category" required>
              <option value="" selected disabled>Select</option>

              {% for cat in categories %}
                <option>{{cat.name}}</option>
              {% endfor %}

              <script type="text/javascript" src="{{ url_for('static', filename='js/add_edit.js') }}"></script>
              <script language="javascript">selectCategory("{{category}}");</script>

            </select>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-auto">
            <button type="submit" class="btn orange-bg text-white font-weight-bold mt-2 button-width-normal">Add</button>
            <a class="btn orange-bg text-white font-weight-bold mt-2 button-width-normal" href="javascript:history.back()">Cancel</a>
          </div>
        </div>
      </form>
    </div>
  </div>

{% endblock %}