{% extends "main.html" %}

{% block title %}Item Catalog{% endblock %}

{% block header %}
  <h1 class="display-4 text-center text-white font-weight-bold p-0 m-0">Item Catalog</h1>
{% endblock %}

{% block content %}
  <!-- Header images -->
  <div class="row bg-dark pt-1 px-0 mx-0">
    <div class="col-4">
      <figure class="figure">
        <img src="{{ url_for('static', filename='images/keith-johnston-216347-unsplash.jpg') }}" class="figure-img img-fluid rounded" alt="">
        <figcaption class="figure-caption text-center text-white">Photo by
            Keith Johnston on Unsplash</figcaption>
      </figure>
    </div>
    <div class="col-4">
      <figure class="figure">
        <img src="{{ url_for('static', filename='images/razvan-chisu-623792-unsplash.jpg') }}" class="figure-img img-fluid rounded" alt="">
        <figcaption class="figure-caption text-center text-white">Photo by
            Razvan Chisu on Unsplash</figcaption>
      </figure>
    </div>
    <div class="col-4">
      <figure class="figure">
        <img src="{{ url_for('static', filename='images/tirza-van-dijk-72373-unsplash.jpg') }}" class="figure-img img-fluid rounded" alt="">
        <figcaption class="figure-caption text-center text-white">Photo by
            Tirza van Dijk on Unsplash</figcaption>
      </figure>
    </div>
  </div>

  <hr>

  <!-- Catalog items header -->
  <div class="row bg-light px-0 mx-0 mt-3 justify-content-between">
    <div class="col-auto m-3">
      <h4 class="display-5 dark_gray-font">Latest Added Items</h4>
    </div>
    <div class="col-auto m-3">
      {% if g.user %}
        <a class="btn text-white font-weight-bold orange-bg" href="{{url_for('add_item', category='None')}}">Add</a>
      {% endif %}
    </div>
  </div>

  <!-- Card group with latest added items -->
  <div class="row bg-light px-0 mx-0">
    <div class="col">
      <div class="card-columns">

        {% for item in items %}

        <div class="card">
          <div class="card-body">
            <a href="{{url_for('item', category=item.category.name, item=item.name)}}">
              <h5 class="card-title text-danger">{{item.name}}</h5>
            </a>
            <a href="{{url_for('category', category=item.category.name)}}">
              <p class="card-text text-muted text-center">{{item.category.name}}</p>
            </a>
          </div>
          {% if (g.user) and (g.user.id == item.user_id) %}
            <div class="card-footer m-0 p-0 text-center medium_gray-bg">
              <a href="{{url_for('edit_item', category=item.category.name, item=item.name)}}"
                 class="btn btn-sm btn-link text-white font-weight-bold">Edit</a>
              <a href="{{url_for('delete_item', category=item.category.name, item=item.name)}}"
                 class="btn btn-sm btn-link text-white font-weight-bold">Delete</a>
            </div>
          {% endif %}
        </div>

        {% endfor %}

      </div>
    </div>
  </div>

{% endblock %}