{% extends "main.html" %}

{% block meta_head %}
  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="https://apis.google.com/js/platform.js?onload=start"></script>
  <script src="{{ url_for('static', filename='js/login.js') }}"></script>
  <script language="javascript">
    loadGoogle("{{g_client_id}}");
    loadFacebook("{{f_client_id}}");
  </script>
{% endblock %}

{% block title %}Login{% endblock %}

{% block header %}
  <h1 class="display-5 text-center text-white font-weight-bold p-0 m-0">Login</h1>
{% endblock %}

{% block content %}
  <hr>

  <!-- Header -->
  <div class="row justify-content-center my-3">
    <div class="col-auto">
      <h3 class="dark_gray-font">Continue with</h3>
    </div>
  </div>

  <!-- Facebook and Google sign in -->
  <div class="row align-items-center justify-content-center my-3">
    <!-- Facebook sign in -->
    <div class="col-auto">
      <fb:login-button scope="public_profile,email" onlogin="javascript:facebookLogin();" data-size="large" data-button-type="login_with"></fb:login-button>
    </div>
    <!-- End Facebook sign in -->

    <!-- Google Plus sign in -->
    <div class="col-auto">
      <div
          class="g-signin2"
          id="gSigninButton"
          data-theme="dark"
          data-width="236"
          data-height="40"
          data-longtitle="true"
          data-scope="openid email"
          data-cookiepolicy="single_host_origin"
          data-approvalprompt="force"
          onclick="javascript:googleLogin();">
        </div>
    </div>
    <!-- End Google Plus sign in -->
  </div>


  <div class="row align-items-center justify-content-center mt-4 mb-2">
    <div class="col-auto">
      <p class="dark_gray-font font-weight-bold">or</p>
    </div>
  </div>

  <!-- Alert in case of unsuccessful login attempt -->
  <div class="row align-items-center justify-content-center mb-1">
    <div class="col-auto">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="alert alert-dark alert-dismissible fade show" role="alert">
            {% for message in messages %}
              <p class="m-0 p-0">{{message}}</p>
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}
      {% endwith %}
    </div>
  </div>

  <!-- Item Catalog sign in -->
  <div class="row align-items-center justify-content-center">
    <div class="col-auto">
      <form action="{{url_for('site_login')}}" method='POST'>
        <div class="row mb-2">
          <div class="col">
            <input type="text" class="form-control" name="username" placeholder="Username" required>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <input type="password" class="form-control" name="password" placeholder="Password" required>
          </div>
        </div>
        <div class="row justify-content-around">
          <div class="col-auto">
            <button type="submit" class="btn text-white btn-danger font-weight-bold button-width-large mr-2 mt-2">Sign in</button>
            <a class="btn text-white orange-bg font-weight-bold button-width-large mt-2" href="{{ url_for('new_user') }}">Sign up</a>
          </div>
        </div>
      </form>
    </div>
  </div>

{% endblock %}